<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <style>
       .search{
          font-size: 22px
       }
    </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <form action="">
            <div class="form-group">
              <input type="text" class="form-control" id="descInput" value="<%= keyWord %>" />
            </div>
          </form>
        </div>
        <div class="col-md-4 search">去踏春</div>
      </div>
      <% items.forEach(function(item){ %>
        <% include search/show %>
      <% }) %>
    </div>
    <div class="row">
      <div class="col-md-8">
        <nav>
          <ul class="pagination">
            <li>
              <a href="#" aria-label="上一页">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li>
              <a href="#" aria-label="下一页">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </body>
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function(){
    $(".search").click(function(){

    });
  });
</script>
</html>
