<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <link rel="my Icon" href="favicon.ico" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <style>
       .search{
          font-size: 22px
       }
       .middle{
          margin-top:10%;
       }
    </style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>村里去<small>(住宿)</small></h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="sidebar" class="col-md-2">
          <div class="list-group">
            <a href="#" class="list-group-item active">
              数据统计
            </a>
            <a href="javascript:;" id="maintain" class="list-group-item">数据维护</a>
            <a href="javascript:;" id="addItem" class="list-group-item">添加</a>
            <!--<a href="#" class="list-group-item">添加用户</a>-->
            <a href="/console/logout" class="list-group-item">退出</a>
          </div>
        </div>
        <div id="main" class="col-md-8">

        </div>
      </div>
      <div style="position: relative;text-align: center;margin-top: 260px">© 2016 - 2018 All Rights Reserved. 京ICP备16021115号</div>
    </div>
  </body>
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  $(function(){
    $('.list-group-item').on('click',function(){
      var id = $(this).attr('id');
      if(id=='maintain'){
        $.get('/console/list',function(data){
          $('#main').html(data);
        });
      }else if(id=="addItem"){
        $.get('/console/item',function(data){
          $('#main').html(data);
        });
      }
    });
  });
</script>
</html>
