<nav>
  <ul class="pagination">
    <% for(var i =0; i< pages.length;i++){ %>
      <li  <%if(page==pages[i]){%> class="disabled" <%}%> ><a href="javascript:;"><%=pages[i]%></a></li>
    <% } %>
    <li  class="disabled"><a href="">...</a></li>
    <li  class="disabled"><a href=""><%=count%></a></li>
  </ul>
</nav>